/* layout.css - 페이지 전체 레이아웃 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2d3e;
    color: #fff;
    padding: 15px;
}

.sidebar {
    width: 250px;
    background-color: #FFFFFF;
    color: #333;
    height: 100vh;
    position: fixed;
    padding: 20px;
}

.content {
    margin-left: 270px;
    padding: 20px;
    min-height: calc(100vh - 100px); /* 푸터 높이를 제외한 최소 콘텐츠 영역 */
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #2a2d3e;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}