<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공통 모달 예제</title>
    <link rel="stylesheet" href="../../css/components.css">
</head>
<body>
    <!-- 버튼: 모달 열기 -->
    <button id="openModalBtn">open</button>

    <!-- 모달 구조 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="closeBtn" class="close-btn">&times;</span>
            <h2>모달 제목</h2>
            <p>여기에 모달 내용이 들어갑니다.</p>
            <button id="modalActionBtn">모달 동작 버튼</button>
            <button id="modalConfrimBtn">모달 동작 버튼</button>
            <button id="closeBtn">모달 동작 버튼</button>
        </div>
    </div>

    <script src="../../js/script.js"></script>
</body>
</html>
